.header {
    background-color: #5474fd;
    min-height: 80px;

    .container {
        position: absolute;
        color: #fff;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__logo {
        text-transform: uppercase;
        font-family: 'josefinsans_bold';
        font-size: 30px;
        font-weight: 900;
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
    }

    &__nav-item {
        padding: 0 20px;
    }

    &__nav-item:last-child {
        padding: 0;
    }

    &__nav-link {
        font-family: 'aleo';
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
    }
}   


