.header {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        width: 1100px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-family: 'josefinsans';
        padding: 220px 0;
    }
        &__holder {
            text-align: center;
            letter-spacing: 6px;
            padding-bottom: 40px;
        }

        &__holder-title {
            text-transform: uppercase;
            font-family: 'josefinsans_bold';
            font-size: 42px;
            font-weight: 900;
        }

        &__holder-subtitle {
            font-size: 20px;
            font-weight: 300;
        }

        &__search-form {
            display: flex;
        }
        
        &__search-input {
            max-width: 100%;
            width: 450px;
            font-size: 15px;
            padding: 20px 0 20px 10px;
            outline: none;

            &::placeholder {
                letter-spacing: 2px;
                text-align: center;
                font-size: 16px;
                font-weight: 300;
                color: $text-grey;
                opacity: 0.7;
            }
        }

    

}