.intro-section {
    min-height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1110px;
    max-width: 100%;
    padding: 180px 0;
    text-align: center;
    color: #fff;
}

.title {
    padding-bottom: 50px;
}

.title-holder {
    font-family: 'Aleo', serif;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
}

.title-subtite {
    font-weight: 300;
    font-size: 14px;
}

.input-holder {
    display: contents;
    width: 650px;
    align-items: center;
    padding: 17px 25px;
    margin-bottom: 80px;

    &input-search {
        flex-grow: 1;
        min-height: 60px;
        border: 1px solid #c4c4c4;
        outline: none;
        box-shadow: inset 5px 5px rgba(0 0 0 / .03);
        font-size: 20px;

        &btn {
        color: #fff;
        background-color: #538fff;
        font-size: 18px;
        letter-spacing: .1em;
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 17px 25px;
        transition: all .2s linear;
        }
    }
}
