.header {
    width: 100%;
    position: fixed;
    background-color: #5474fd;
    min-height: 80px;

    &__holder {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        color: #fff;
        z-index: 2;
        text-transform: uppercase;
        font-family: 'josefinsans_bold';
        font-size: 30px;
        font-weight: 900;
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
    }

    &__nav-item {
        padding: 0 20px;
    }

    &__nav-link {
        font-family: 'aleo';
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        padding-top: 9px;
        position: relative;
    }
}   


