@font-face {
  font-family: "aleo";
  src: url("../fonts/aleo/aleo-bolditalic-webfont-webfont.eot");
  src: url("../fonts/aleo/aleo-bolditalic-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-bolditalic-webfont-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-bolditalic-webfont-webfont.woff") format("woff"), url("../fonts/aleo/aleo-bolditalic-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aleoitalic";
  src: url("../fonts/aleo/aleo-italic-webfont-webfont.eot");
  src: url("../fonts/aleo/aleo-italic-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-italic-webfont-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-italic-webfont-webfont.woff") format("woff"), url("../fonts/aleo/aleo-italic-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aleolight";
  src: url("../fonts/aleo/aleo-light-webfont-webfont.eot");
  src: url("../fonts/aleo/aleo-light-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-light-webfont-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-light-webfont-webfont.woff") format("woff"), url("../fonts/aleo/aleo-light-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aleolightitalic";
  src: url("../fonts/aleo/aleo-lightitalic-webfont-webfont.eot");
  src: url("../fonts/aleo/aleo-lightitalic-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-lightitalic-webfont-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-lightitalic-webfont-webfont.woff") format("woff"), url("../fonts/aleo/aleo-lightitalic-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aleo";
  src: url("../fonts/aleo/aleo-regular-webfont-webfont.eot");
  src: url("../fonts/aleo/aleo-regular-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-regular-webfont-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-regular-webfont-webfont.woff") format("woff"), url("../fonts/aleo/aleo-regular-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "josefinsans_bold";
  src: url("../fonts/josefinsSans/josefinsans-bold-webfont.eot");
  src: url("../fonts/josefinsSans/josefinsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinsSans/josefinsans-bold-webfont.woff2") format("woff2"), url("../fonts/josefinsSans/josefinsans-bold-webfont.woff") format("woff"), url("../fonts/josefinsSans/josefinsans-bold-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "josefinsans";
  src: url("../fonts/josefinsSans/josefinsans-regular-webfont.eot");
  src: url("../fonts/josefinsSans/josefinsans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinsSans/josefinsans-regular-webfont.woff2") format("woff2"), url("../fonts/josefinsSans/josefinsans-regular-webfont.woff") format("woff"), url("../fonts/josefinsSans/josefinsans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.intro {
  background-position: 50% 0;
  background-repeat: no-repeat;
  color: #fff;
}
.intro .container {
  min-width: 1100px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__holder {
  padding: 270px 0;
  font-family: "josefinsans";
  color: #fff;
  text-align: center;
  letter-spacing: 6px;
  padding-bottom: 40px;
}
.intro__holder-title {
  text-transform: uppercase;
  font-family: "josefinsans_bold";
  font-size: 42px;
  font-weight: 900;
  padding-bottom: 20px;
}
.intro__holder-subtitle {
  font-family: "josefinsans";
  font-size: 20px;
  font-weight: 300;
}
.intro__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro__search-input {
  max-width: 100%;
  width: 450px;
  padding: 21px 0 21px 10px;
  outline: none;
  outline: none;
  border: 3px solid #fff;
}
.intro__search-input::-webkit-input-placeholder {
  letter-spacing: 2px;
  text-align: center;
  font-family: "josefinsans";
  font-size: 16px;
  font-weight: 300;
  color: #c1c1c1;
}
.intro__search-input::-moz-placeholder {
  letter-spacing: 2px;
  text-align: center;
  font-family: "josefinsans";
  font-size: 16px;
  font-weight: 300;
  color: #c1c1c1;
}
.intro__search-input:-ms-input-placeholder {
  letter-spacing: 2px;
  text-align: center;
  font-family: "josefinsans";
  font-size: 16px;
  font-weight: 300;
  color: #c1c1c1;
}
.intro__search-input::-ms-input-placeholder {
  letter-spacing: 2px;
  text-align: center;
  font-family: "josefinsans";
  font-size: 16px;
  font-weight: 300;
  color: #c1c1c1;
}
.intro__search-input::placeholder {
  letter-spacing: 2px;
  text-align: center;
  font-family: "josefinsans";
  font-size: 16px;
  font-weight: 300;
  color: #c1c1c1;
}
.intro__btn-search {
  max-width: 100%;
  width: 160px;
  font-family: "aleo";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #5474fd;
  border: 3px solid #fff;
  color: #fff;
}
.intro ._icon-search {
  position: absolute;
  font-size: 28px;
  padding: 0 15px 0 10px;
  top: 412px;
  z-index: 95;
}
.intro__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 120px 0;
}
.intro__scroll-down {
  font-family: "josefinsans";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  opacity: 0.8;
  padding-bottom: 15px;
}
.intro ._icon-scroll_arrow {
  opacity: 0.8;
  font-weight: 300;
  font-size: 8px;
  cursor: pointer;
}

.aboutus {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutus__flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutus__holder {
  padding: 180px 0;
  width: 100%;
  font-family: "aleo";
}
.aboutus__holder-title {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 50px;
  opacity: 0.8;
}
.aboutus__holder-text {
  font-family: "josefinsans";
  line-height: 1.5;
  opacity: 0.8;
}
.aboutus__holder-text > p {
  padding-bottom: 20px;
}
.aboutus__button {
  background-color: #5474fd;
  color: #fff;
  max-width: 170px;
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
}
.aboutus__btn-explore {
  font-family: "aleo";
  color: #fff;
}
.aboutus__pictures {
  padding: 76px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutus__pictures-pic2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.booknow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.booknow__col {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.booknow .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.booknow__content {
  margin: 110px 0;
  padding: 80px 30px;
  background-color: #302a28;
  opacity: 0.8;
  -webkit-transition: backgrund-color 0.3s ease-in-out;
  transition: backgrund-color 0.3s ease-in-out;
  width: 45%;
}
.booknow__content:hover {
  opacity: 1;
}
.booknow__subtitle {
  font-family: "josefinsans";
  font-weight: 300;
  font-size: 14px;
}
.booknow__title {
  padding: 30px 0;
  font-family: "aleo";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.booknow__text {
  font-family: "josefinsans";
  font-size: 14px;
  font-weight: 300px;
  padding-bottom: 35px;
}
.booknow__button {
  background-color: #5474fd;
  max-width: 170px;
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
}
.booknow__btn-submit {
  color: #fff;
  font-family: "josefinsans";
  font-weight: 500;
  font-size: 16px;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #5474fd;
  min-height: 80px;
}
.header__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  z-index: 2;
  text-transform: uppercase;
  font-family: "josefinsans_bold";
  font-size: 30px;
  font-weight: 900;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}
.header__nav-item {
  padding: 0 20px;
}
.header__nav-link {
  font-family: "aleo";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding-top: 9px;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  display: block;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
}