@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo/aleo-bolditalic-webfont-webfont.eot');
    src: url('../fonts/aleo/aleo-bolditalic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/aleo-bolditalic-webfont-webfont.woff2') format('woff2'),
         url('../fonts/aleo/aleo-bolditalic-webfont-webfont.woff') format('woff'),
         url('../fonts/aleo/aleo-bolditalic-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aleoitalic';
    src: url('../fonts/aleo/aleo-italic-webfont-webfont.eot');
    src: url('../fonts/aleo/aleo-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/aleo-italic-webfont-webfont.woff2') format('woff2'),
         url('../fonts/aleo/aleo-italic-webfont-webfont.woff') format('woff'),
         url('../fonts/aleo/aleo-italic-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aleolight';
    src: url('../fonts/aleo/aleo-light-webfont-webfont.eot');
    src: url('../fonts/aleo/aleo-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/aleo-light-webfont-webfont.woff2') format('woff2'),
         url('../fonts/aleo/aleo-light-webfont-webfont.woff') format('woff'),
         url('../fonts/aleo/aleo-light-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aleolightitalic';
    src: url('../fonts/aleo/aleo-lightitalic-webfont-webfont.eot');
    src: url('../fonts/aleo/aleo-lightitalic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/aleo-lightitalic-webfont-webfont.woff2') format('woff2'),
         url('../fonts/aleo/aleo-lightitalic-webfont-webfont.woff') format('woff'),
         url('../fonts/aleo/aleo-lightitalic-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo/aleo-regular-webfont-webfont.eot');
    src: url('../fonts/aleo/aleo-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/aleo-regular-webfont-webfont.woff2') format('woff2'),
         url('../fonts/aleo/aleo-regular-webfont-webfont.woff') format('woff'),
         url('../fonts/aleo/aleo-regular-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}