@font-face {
    font-family: 'aleo';
    src: url(./fonts/aleo/aleo-regular-webfont-webfont.eot);
    src: url() format(),
         url() format(),
         url() format(),
         url() format();
    font-weight: 400;
    font-style: normal;
}