@font-face {
    font-family: 'josefinsans_bold';
    src: url('../fonts/josefinsSans/josefinsans-bold-webfont.eot');
    src: url('../fonts/josefinsSans/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsSans/josefinsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/josefinsSans/josefinsans-bold-webfont.woff') format('woff'),
         url('../fonts/josefinsSans/josefinsans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefinsans';
    src: url('../fonts/josefinsSans/josefinsans-regular-webfont.eot');
    src: url('../fonts/josefinsSans/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsSans/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinsSans/josefinsans-regular-webfont.woff') format('woff'),
         url('../fonts/josefinsSans/josefinsans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}